.body
  .body__body2
    .body__body2--tops
      = render partial: 'tops/header'
    = form_for @product, url: create_path, method: :post do |f|
      .conteiner
        .conteiner__datebox
          .conteiner__datebox--date
            .conteiner__datebox--date--text
              製造年月日：
            =f.select :production_year,[*2020..2050], {},{:id=>"year",class: 'conteiner__datebox--date--years'}
            .conteiner__datebox--date--text
              年
            =f.select :production_month, [*1..12], {}, {:id=>"month",class: 'conteiner__datebox--date--month'}
            .conteiner__datebox--date--text
              月
            =f.select :production_day, [*1..31],{}, {:id=>"day",class: 'conteiner__datebox--date--days' }
            .conteiner__datebox--date--text
              日
          .conteiner__datebox--machinenumberbox
            .conteiner__datebox--machinenumberbox--machinenumber
              溶接機番号：
            = f.collection_select :machine_number, Machine.all,:id,:name,{prompt: "---"}, {class: 'conteiner__datebox--machinenumberbox--machineno',id:'machine_number'}
          .conteiner__datebox--machinenumberbox
            .conteiner__datebox--machinenumberbox--machinenumber
              稼働時間　：
            = f.select :operating_time, Product.operating_times.keys.to_a,{prompt: "---"}, {class: 'conteiner__datebox--machinenumberbox--machineno',id:'operating_time'}
          .space
          .box01
            .conteiner__datebox--productsnumberbox
              .conteiner__datebox--productsnumberbox--productsname
                1.製品番号：
              = f.text_field :product_no, {placeholder:" 製品番号を書いて下さい", class: "conteiner__datebox--productsnumberbox--productnumber",id:"product_no1" }
              = f.text_field :number_of_production, {placeholder:" 個数", class: "conteiner__datebox--productsnumberbox--numbernumernumer",id:"number_of_production1" }
              .conteiner__datebox--productsnumberbox--texttext
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                溶接不良数：
              = f.text_field :defective, {placeholder:" 今日の溶接不良数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"defective1" }
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                廃棄数　　：
              = f.text_field :waste, {placeholder:" 今日の廃棄品数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"waste1" }
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer, User.all,:id,:name,{prompt: "---"},{id:'name_select1-1'}
            #producer1-2.conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer02, User.all,:id,:name,{prompt: "---"},{id:'name_select1-2'}
            .space
          #box02.box02
            .conteiner__datebox--productsnumberbox
              .conteiner__datebox--productsnumberbox--productsname
                2.製品番号：
              = f.text_field :product_no, {placeholder:" 製品番号を書いて下さい", class: "conteiner__datebox--productsnumberbox--productnumber",id:"product_no2" }
              = f.text_field :number_of_production, {placeholder:" 個数", class: "conteiner__datebox--productsnumberbox--numbernumernumer",id:"number_of_production2" }
              .conteiner__datebox--productsnumberbox--texttext
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                溶接不良数：
              = f.text_field :defective, {placeholder:" 今日の溶接不良数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"defective2"}
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                廃棄数　　：
              = f.text_field :waste, {placeholder:" 今日の廃棄品数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"waste2" }
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer, User.all,:id,:name,{prompt: "---"},{id:'name_select2-1'}
            #producer2-2.conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer02, User.all,:id,:name,{prompt: "---"},{id:'name_select2-2'}
            .space
          #box03.box03
            .conteiner__datebox--productsnumberbox
              .conteiner__datebox--productsnumberbox--productsname
                3.製品番号：
              = f.text_field :product_no, {placeholder:" 製品番号を書いて下さい", class: "conteiner__datebox--productsnumberbox--productnumber",id:"product_no3" }
              = f.text_field :number_of_production, {placeholder:" 個数", class: "conteiner__datebox--productsnumberbox--numbernumernumer",id:"number_of_production3" }
              .conteiner__datebox--productsnumberbox--texttext
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                溶接不良数：
              = f.text_field :defective, {placeholder:" 今日の溶接不良数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"defective3"}
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                廃棄数　　：
              = f.text_field :waste, {placeholder:" 今日の廃棄品数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"waste3" }
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer, User.all,:id,:name,{prompt: "---"},{id:'name_select3-1'}
            #producer3-2.conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer02, User.all,:id,:name,{prompt: "---"},{id:'name_select3-2'}
            .space
          #box04.box04
            .conteiner__datebox--productsnumberbox
              .conteiner__datebox--productsnumberbox--productsname
                4.製品番号：
              = f.text_field :product_no, {placeholder:" 製品番号を書いて下さい", class: "conteiner__datebox--productsnumberbox--productnumber",id:"product_no4" }
              = f.text_field :number_of_production, {placeholder:" 個数", class: "conteiner__datebox--productsnumberbox--numbernumernumer",id:"number_of_production4" }
              .conteiner__datebox--productsnumberbox--texttext
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                溶接不良数：
              = f.text_field :defective, {placeholder:" 今日の溶接不良数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"defective4"}
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--tsnumberbox
              .conteiner__datebox--tsnumberbox--texttexttext
                廃棄数　　：
              = f.text_field :waste, {placeholder:" 今日の廃棄品数です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"waste4" }
              .conteiner__datebox--tsnumberbox--numbeproducti
                個
            .conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer, User.all,:id,:name,{prompt: "---"},{id:'name_select4-1'}
            #producer4-2.conteiner__datebox--usernamebox
              .conteiner__datebox--usernamebox--username
                生産者　　：
                = f.collection_select :producer02, User.all,:id,:name,{prompt: "---"},{id:'name_select4-2'}
            .space
          .conteiner__datebox--tsnumberbox
            .conteiner__datebox--tsnumberbox--texttexttext
              総数　　　：
            = f.text_field :total_production, {placeholder:" 今日の総生産です。", class: "conteiner__datebox--tsnumberbox--numbeproduction",id:"total_production"}
            .conteiner__datebox--tsnumberbox--numbeproducti
              個
          .textbox
            .textbox__memobox
              メモ
            = f.text_area :description, {placeholder:"例>>今日の10310②は合計500個の内200個なので、明日残りの300個から", class: "textbox__memoboxbox",id:"description"}
            = f.submit  "送信",class: "buttom"
      .toppagereturn
        = link_to root_path do
          .toppagereturn__toppagereturntext
            TOPページに戻る
    = render partial: 'tops/footer'